body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
}

.account {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.account-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  background-color: red;
  color: white;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
